/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap");

/* tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif font-[18px] text-primary-400;
  }
  h1 {
    @apply text-[40px] sm:text-[72px];
  }
  h2 {
    @apply text-[40px] sm:text-[56px] font-bold;
  }
  h3 {
    @apply text-[40px] sm:text-[48px];
  }
  h4 {
    @apply text-[40px];
  }
  h5 {
    @apply text-[32px];
  }
  h6 {
    @apply text-[24px];
  }
}

@layer components {
  .icon {
    @apply w-[24px] h-[24px];
  }
  .icon-youtube {
    @apply icon-[custom--youtube] icon;
  }
  .icon-facebook {
    @apply icon-[custom--facebook] icon;
  }
  .icon-instagram {
    @apply icon-[custom--instagram] icon;
  }
  .icon-quote-open {
    @apply icon-[custom--quote-open] icon;
  }
  .icon-quote-close {
    @apply icon-[custom--quote-close] icon;
  }
  .icon-check-mark {
    @apply icon-[custom--check-mark] icon;
  }
  .icon-play {
    @apply icon-[heroicons--play] icon;
  }
  .icon-pause {
    @apply icon-[heroicons--pause] icon;
  }

  .btn-hex {
    @apply w-[166px] h-[70px] sm:w-[264px] sm:h-[112px] relative text-white z-[1];

    &::after {
      @apply text-[24px] sm:text-[32px] sm:font-bold transition-colors duration-[400] ease-in-out;
    }
    svg {
      @apply absolute inset-0 w-[166px] h-[70px] sm:w-[264px] sm:h-[112px] text-primary-300 z-[-1];
    }

    &:hover {
      @apply text-primary-300;
    }
  }
}

@layer utilities {
  .h-screen {
    height: 100vh;
    height: 100svh;
  }
  .min-h-screen {
    min-height: 100vh;
    min-height: 100svh;
  }
}

.splide.splide--carousel {
  @apply relative;
  .splide__slide {
    img,
    video {
      @apply object-cover object-center h-full;
    }
  }
  .splide__arrow {
    @apply absolute top-1/2 z-[1] -translate-y-1/2;
    svg {
      @apply sm:w-[51px] sm:h-[51px] w-[20px] h-[20px] transition-all;
      fill: white;
    }

    &:hover {
      svg {
        fill: #345447;
      }
    }
    &:disabled {
      svg {
        @apply opacity-50;
      }
    }
  }
  .splide__arrow--prev {
    @apply left-[20px] -scale-x-100;
  }
  .splide__arrow--next {
    @apply right-[20px];
  }
}
.splide.splide--packages {
  @apply relative;
  .splide__list {
    @apply sm:grid sm:grid-cols-3 sm:gap-[24px];
  }
  .splide__slide {
    @media (min-width: 640px) {
      width: 100% !important;
    }
  }
  .splide__arrow {
    @apply absolute top-1/2 z-[1] -translate-y-1/2 sm:hidden;
    svg {
      @apply sm:w-[51px] sm:h-[51px] w-[20px] h-[20px] transition-all;
      fill: #7a9f8f;
    }

    &:hover {
      svg {
        fill: #345447;
      }
    }
    &:disabled {
      svg {
        @apply opacity-75;
      }
    }
  }
  .splide__arrow--prev {
    @apply left-[16px] -scale-x-100;
  }
  .splide__arrow--next {
    @apply right-[16px];
  }
}
.splide.splide--stories {
  @apply relative;
  .splide__arrow {
    @apply absolute sm:bottom-[30px] sm:top-auto sm:translate-y-0 z-[1] top-[40%] -translate-y-1/2;
    svg {
      @apply sm:w-[51px] sm:h-[51px] w-[20px] h-[20px] transition-all;
      fill: #7a9f8f;
    }

    &:hover {
      svg {
        fill: #345447;
      }
    }
    &:disabled {
      svg {
        @apply opacity-50;
      }
    }
  }
  .splide__arrow--prev {
    @apply left-[24px] -scale-x-100;
  }
  .splide__arrow--next {
    @apply right-[24px];
  }
}

// datepicker
.datepicker-controls {
  @apply flex-1;
  .view-switch {
    @apply flex items-center justify-center flex-1 text-center px-[20px];
    span {
      @apply flex-1;
    }
  }
}

.splide.splide--approach {
  .splide__slide {
    @apply bg-[#DDEEE7] p-[24px] sm:p-[14px] pb-[50px] sm:pb-[40px] flex flex-col gap-[48px] sm:gap-[28px] text-primary-300 shadow-card mb-[26px];
    figure {
      @apply relative text-inherit aspect-[420/355] flex items-center justify-center  bg-transparent;
      img {
        @apply absolute top-0 left-0 object-fill object-center w-full h-full;
      }
      figcaption {
        @apply z-10 font-serif text-inherit text-[32px];
      }
    }
    .splide--approach__content {
      @apply flex flex-col items-center gap-[16px] text-primary-300 text-center flex-1 justify-center px-[20px];
      h6 {
        @apply text-[24px] sm:text-[32px] leading-[100%] sm:leading-[38px] max-w-[320px];
      }
      p {
        @apply text-[18px] leading-[22px];
      }
    }
    &.contrast {
      figure {
        @apply text-white;
      }
    }
  }
}
